sympy==1.12
yarl==1.9.2
torch==1.13.1
mpmath==1.3.0
xxhash==3.3.0
aiohttp==3.8.5
evaluate==0.4.0
optimum==1.11.2
pyarrow==12.0.1
aiosignal==1.3.1
datasets==2.14.4
multidict==6.0.4
frozenlist==1.4.0
responses==0.18.0
accelerate==0.21.0
torchvision==0.14.1
coloredlogs==15.0.1
humanfriendly==10.0
scikit-learn==1.3.0
async-timeout==4.0.3
transformers==4.30.0
optimum-neuron==0.0.8
neuronx-distributed==0.1