regex
tensorboard
sentencepiece
transformers==4.35.0
datasets==2.14.7
evaluate==0.4.1
optimum==1.14.1
./optimum_neuron-0.0.14.dev0-py3-none-any.whl
https://pip.repos.neuron.amazonaws.com/neuronx-distributed/neuronx_distributed-0.5.0-py3-none-linux_x86_64.whl

